@import '~antd/dist/antd.css';

// body {
//   margin: 0;
//   // padding: 30px;
//   /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//       "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//       sans-serif; */
//   font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
//     "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

#react-hook-app {
  height: 100%;
}

.ant-layout-header {
  background: inherit;
}

.lean-markdownContent {
  padding-left: 100px;
  pre {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #3ac100;
    code {
      padding: 15px;
      background: #f1f1f1;
      display: inline-block;
      border-radius: 8px;
    }
  }
  h2 {
    margin-top: 80px;
  }
}

.lean-demo-container {
  padding: 30px;
}

.lean-content {
  padding: 20px;
}

.osHistory {
  width: 900px;
}
