.addrList {
  margin: 20px;
}

.addrList-input {
  width: 512px;
}

.textAlignRight {
  text-align: right;
}

.operate {
  text-align: right;
}

.addrList-input-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  > span,
  > input {
    width: 45%;
  }
}

.serverStatus {
  width: 512px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  > span {
    width: 50%;
    text-align: center;
  }
}

.chart-container {
  height: 500px;
  width: 100%;
  // border: 1px solid red;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  > div {
    width: 50%;
  }
}
